body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #999;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  border: solid 1px #999;
}

/****Header****/

.heading {
  background: #7578bd;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

#app-name {
  margin: 5px auto 5px 5px;
  color: #fff;
}

#app-name-1 {
  font-weight: 700;
}

#app-name-2 {
  font-weight: 300;
}

#bell {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

#profile-pic {
  height: 30px;
  width: 25px;
  border-radius: 50px;
  margin-right: 5px;
}

#profile-name {
  color: #fff;
  margin-right: 10px;
  font-size: .8em;
}


/****Navigation****/

.main-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.main-nav {
  width: 20%;
  max-width: 45px;
  background-color: #4b4d9b;

}

.nav {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dashboard,
#members,
#visits,
#settings {
  width: 25px;
  height: 25px;
  margin: 10px 5px;
}

/**** Main Container****/

.main {
  width: 80%;
  max-width: 979px;
  padding: 10px;
}

/****Main-Search****/

.main-search {
   display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-head {
  font-size: 1em;
  font-weight: 400;
  margin-right: auto;
}

#search {
  display: inline-block;
  width: 100px;
  margin: 10px 5px 0 0;
  padding: 5px;
  border-radius: 5px;
  border: solid 2px #999;
}

/****Zebra Alert Box Styling****/

.myClass .ZebraDialog_BodyOuter.ZebraDialog_NoTitle.ZebraDialog_NoButtons,
.ZebraDialog.myClass {
  width: 86%;
  max-width: 245px;
  border: none;
}

.myClass .ZebraDialog_Body {
  background: #7578bd;
  color: #fff;
  padding: 10px;
  border: solid 1px #7578bd;
  border-radius: 5px;
}

.myClass a.ZebraDialog_Close {
  right: 40px;
  top: 8px;
  color: #fff;
}

/************************
Charts
************************/

/****Main Traffic Chart****/

.traffic-sec,
.traffic-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.traffic-sec {
  width: 80%;
}

.traffic-title {
  margin-right: auto;
  font-size: .75em;
}

.traffic-selector {
  list-style: none;
}

.traffic-selector li {
  font-size: .75em;
  padding: 5px;
  margin: 0 2.5px;
}

.selected {
background-color: #4b9b71;
color: #fff;
border: solid 1px #4b9b71;
border-radius: 15px;
}

/****Daily Traffic and Mobile Users Charts****/

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.traffic-daily,
.mobile-users {
  border-top: solid 1px #999;
  padding: 10px;
}

.title {
  font-size: .75em;
  text-align: left;  
}

/****Social Stats****/

.social-stats-container {
  padding: 10px;

}



/**** Media Queries****/

@media screen and (min-width: 768px) {

  /****Zebra Alert Box Styling*****/
  
  .myClass .ZebraDialog_BodyOuter.ZebraDialog_NoTitle.ZebraDialog_NoButtons,
  .ZebraDialog.myClass {
    width: 95%;
    max-width: 693px;
  }

  /****Main Traffic Chart****/  
  
  .traffic-title,
  .traffic-selector li,
  .title {
    font-size: 1em;
  }
  
  /****Daily Traffic and Mobile Users Charts****/
  
  .container {
  flex-direction: row;
  }
  
  .traffic-daily,
  .mobile-users {
    border: solid 1px #999;
    width: 50%;
  }
  
  .traffic-daily {
    border-left: none;
  }
  
  .mobile-users {
    border-right: none;
  }
  

} /* end 768px media query*/

@media screen and (min-width: 1024px) {


} /* end 1024 media query*/