body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #444;
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  border: solid 0.063em #999;
  position: relative;
}

*:focus {
  outline: none;
}

.alert {
  position: absolute;
  border-radius: 0.313em;
  border: solid 0.125em #4b4d9b;
  padding: 0.313em;
  box-shadow: 0.188em 0.188em 0.313em #999;
  z-index: 100;
}

.main-container {
  background-color: #eee;
}

.flex {
  display: flex;
}

.search {
  display: inline-block;
  padding: 0.313em;
  border-radius: 0.313em;
  border: solid 0.125em #999;
}

.button {
  padding: 0.625em;
  border-radius: 0.313em;
  color: #fff;
  text-shadow: 0 -0.063em 0 rgba(0,0,0,0.4);
  box-shadow: inset 0 0.063em 0.063em rgba(255,255,255,0.4), 0 0.063em 0.063em rgba(0,0,0,0.2);
  transition: .4s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #4b9b71;
  outline: none;
}

/****Header****/

.heading {
  background: #7578bd;
  margin: 0;
  padding: 0.625em;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#app-name {
  margin: 0.313em auto 0.313em 0.313em;
  color: #fff;
}

#app-name-1 {
  font-weight: 700;
}

#app-name-2 {
  font-weight: 300;
}

#bell {
  width: 1.25em;
  height: 1.25em;
  margin-right: 1.25em;
}

.bell {
  position: relative;
}

.alert-indicator {
  content: "";
  width: 0.438em;
  height: 0.438em;
  border-radius: 50%;
  background-color: #ffff9b;
  border: solid 0.063em #fff;
  position: absolute;
  top: 0;
  right: 0.938em;
  z-index: 100;
}

.alert-bell {
  position: absolute;
  top: 1.563em;
  left: 0;
  border: 0;
  box-shadow: 0 0 0 0;
}

.alert-bell ul {
  margin: 0;
  padding: 0;
}

.alert-bell li {
  list-style: none;
  list-style-position: inside;
  padding: 0.313em;
  margin: 0;
  background-color: #4b9b71;
  border-radius: 0.313em;
  box-shadow: 0.188em 0.188em 0.313em #999;
  color: #fff;
  width: 7.813em;
}

#profile-pic {
  height: 1.875em;
  width: 1.563em;
  border-radius: 3.125em;
  margin-right: 0.313em;
}

#profile-name {
  color: #fff;
  margin-right: 0.625em;
  font-size: .75rem;
}

/****Navigation****/

.main-container {
  flex-direction: row;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.main-nav {
  width: 20%;
  max-width: 2.813em;
  background-color: #4b4d9b;
}

.nav {
  margin: 0;
  padding: 0.625em;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

#dashboard,
#members,
#visits,
#settings {
  width: 1.563em;
  height: 1.563em;
  padding: 0.625em 0.313em;
  border-radius: 0.25em;
  cursor: pointer;
  transition: all .75s ease-out;
}

#dashboard:hover,
#dashboard:focus,
#members:hover,
#members:focus,
#visits:hover,
#visits:focus,
#settings:hover,
#settings:focus {
  background-color: #7578bd;  
}


/**** Main Container****/

.main {
  width: 80%;
  max-width:61.188em;
  padding: 0.625em;
}

/****Main-Search****/

.main-search {
  flex-direction: row;
  justify-content: space-around;
}

.page-head {
  font-size: 1em;
  font-weight: bold;
  color: #4b4d9b;
  text-shadow: 0.125em 0.125em 0.125em #999;
  margin-right: auto;
}

#search-main {
  width: 6.25em;
  margin: 0.625em 0.313em 0 0;  
}

.alert-main {
  background-color: #4b4d9b;
  color: #fff;
  top: 4.688em;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0.938em;
  max-width: 12.5em;
}

.alert-main:before {
  content: "X";
  width: 0.438em;
  height: 0.438em;
  color: #fff;
  position: absolute;
  top: 0.313em;
  right: 0.5em;
  z-index: 900;
}

/************************
Charts
************************/

/****Main Traffic Chart****/

.traffic-selector {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  font-size: .75em;
  padding: 0.313em;
  margin: 0 0.156em;
}

.traffic-sec {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.traffic-title {
  margin-right: auto;
  padding-left: 0.313em;
  font-size: .75em;
  font-weight: bold;
}

.traffic-selector li {
  padding: 0.313em;
  cursor: pointer; 
  border-radius: 0.938em;
  transition: all .75s ease-out;
}

.selected {
  background-color: #4b9b71;
  color: #fff;
  border-radius: 0.938em; 
  outline: none;
}

/****Daily Traffic and Mobile Users Charts****/

.container {
  flex-direction: column;
  justify-content: center;
}

.grid-50,
.social-stats-container{
  border-top: solid 0.063em #999;
  padding: 0.625em;
}

.title {
  font-size: .75em;
  text-align: left;
  font-weight: bold;  
}

/****Social Stats****/

.social-stats,
.rec {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-stats-rec {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.social-stats {
  flex-wrap: wrap;
}

.social-stats li {
  list-style: none;
  list-style-position: inside;
  padding: 0.625em;
  margin: 0.625em;
  border: solid 0.125em #999;
  border-radius: 0.313em;
}

.icon {
  background-color: #4b4d9b;
  fill: #fff;
  border-radius: 3.125em;
  overflow: visible;
  height: 1.875em;
  width: 1.875em;
  padding: 0.625em;
}

.social-stats-box {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.social-title {
  display: none;
}

.social-number {
  padding-top: 0.625em;
  font-size: 1em;
}

/**** New Members and Recent Activity Widgets ****/

.new-member-stats,
.recent-activity-stats {
  padding: 0;
}

.box {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 2;
}

.new-members li,
.recent-activity li {
  list-style: none;
  list-style-position: inside;
  padding: 0.313em 0;
}

.new-member-img,
.recent-activity-img {
  width: 1.875em;
  height: 2.25em;
  border-radius: 3.125em;
  margin-right: 0.625em;
}

.new-member-name,
.recent-activity-activity {
  font-size: .75em;
}

.new-member-email,
.recent-activity-date {
  font-size: .65em;
  color: #7578bd;
}

.new-member-date,
.recent-activity-arrow {
  font-size: .75em;
}

/**** Message Users and Settings Widgets ****/

.message-user-form {
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  position: relative;
}

#search-user,
#message-for-user {
  margin: 0.313em 0;
  color: #404040;
  transition: border .75s ease-out;
  font-size: .75em;
}

#search-user:focus,
#message-for-user:focus,
#settings-timezone:focus {
  border: solid 0.125em #4b4d9b;
  background-color: #ddddee;
  outline: none;
}

#message-for-user {
  display: inline-block;
  padding: 0.313em;
  border-radius: 0.313em;
  border: solid 0.125em #999;
  height: 3.75em;
  font-family: 'Roboto', sans-serif;
}

/*JQuery UI Autocomplete for Messgase User Search*/
.ui-menu {
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
  background-color: #4b4d9b;
  color: #fff;
  border-radius: 0.313em;
}

#invalid-name,
#invalid-message {
  width: 16.25em;
  background-color: #eee;
  color: #ff4d4d;
  border: solid .25em #4b4d71;
  padding: .625em;
  font-size: .75em;
  font-weight: bold;
  position: absolute;
  left: 0;
  z-index: 10;
}

#invalid-name {
  top: 2.5em;
}

#invalid-message {
  bottom: 2.5em;
}

.alert-confirm {
  background-color: #4b9b71;
  color: #fff;
  padding: 0.938em;
}

.alert-confirm:before {
  content: "X";
  width: 0.438em;
  height: 0.438em;
  color: #fff;
  position: absolute;
  top: 0.313em;
  right: 0.5em;
  z-index: 900;
}
.settings-form {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.settings-switch {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.625em 0;
}

.settings-label {
  font-size: .75em;
  margin: 0.313em;
}

/** Toggle Switches**/

.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  max-width: 3.75em;
  height: 1.25em;
  }

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.25em;
  background-color: #999;
  color: #999;
  font-size: .75em;
  text-indent: 0.313em;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.375em;
  bottom: 0.375em;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:after {
  content: "OFF";
  position: absolute;
  right: 0.313em;
  bottom: 0.125em;
  color: #fff;
}

input:checked + .slider {
  background-color: #4b4d9b;
  color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 0.063em #4b4d9b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(3.125em);
  -ms-transform: translateX(3.125em);
  transform: translateX(3.125em);
}

input:checked + .slider:after {
  opacity: 0;
}
/** end Toggle Switches**/

.settings-buttons{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.settings button {
  width: 40%;
}

.button-p {
  background: #4b4d9b;
}

.button-g {
  background: #999;
}

#settings-timezone {
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
  border-radius: 0.313em;
  border: solid 0.125em #999;
  color: #404040;
  outline: none;
  margin: 0.625em 0 0.313em 0;
  max-width: 26.375em;
}

/**** Media Queries****/

@media screen and (min-width: 768px) {

  .button,
  .search {
    font-size: 1em;
  }

  /****Main Alert****/
  .alert-main {
    width: 31.25em;
    max-width: 31.25em;
  }
  
  .page-head {
    font-size: 1.5em;
  }
  
  /**** Main Container****/
  
  .main {
    width: 100%;
    max-width: 61.188em;
    padding: 0.625em;
  }
  /****Main Traffic Chart****/  
  
  .traffic-title,
  .traffic-selector,
  .traffic-selector li,
  .title {
    font-size: 1em;
  }
  
  /****Daily Traffic and Mobile Users Charts****/
  
  .container {
    flex-direction: row;
  }
  
  .grid-50 {
    border: solid 0.063em #999;
    width: 50%;
  }
  
  .traffic-daily,
  .new-members,
  .message-user {
    border-left: none;
  }
  
  .mobile-users,
  .recent-activity,
  .settings {
    border-right: none;
  }
  
  .message-user,
  .settings {
    border-top: none;
  }
  
  /****Social Stats****/

  .social-stats-container {
    border-top: none;
  }
  
  .social-title {
    display: inherit;
    color: #4b4d9b;
    font-weight: 500;
    padding: 0.625em;
    font-size: 1em;
  }

  .social-number {
    font-size: 1.25em;
    padding: 0.313em;
  }
  
  /**** New Members and Recent Activity Widgets ****/
  
  .new-member-img,
  .recent-activity-img {
    width: 2.25em;
    height: 2.5em;
    border-radius: 3.125em;
    margin-right: 0.625em;
  }
  
  .new-member-name,
  .recent-activity-activity {
    font-size: 1em;
  }
  
  .new-member-email,
  .recent-activity-date {
    font-size: .75em;
    color: #7578bd;
  }
  
  .new-member-date,
  .recent-activity-arrow {
    font-size: 1em;
  }
  
  #invalid-name,
  #invalid-message {
    font-size: 1em;
  }

/*  Message Users and Settings*/
  
  #search-user,
  #message-for-user,
  .settings-label,
  #settings-timezone {
    font-size: 1em;
  }
  
  
} /* end 768px media query*/

@media screen and (min-width: 1024px) {

  .alert-main {
    width: 43.75em;
    max-width: 43.75em;
  }
  
  #app-name,
  #profile-name {
    font-size: 1.5em;
  }
  
  #bell {
    width: 1.75em;
    height: 1.75em;
  }
  
  .main-nav {
    max-width: 8em;
  }
  
  #dashboard,
  #members,
  #visits,
  #settings {
    width: 2.5em;
    height: 2.5em;
    padding: 1.75em;
    border-radius: 0.625em;
  }
  .main {
    max-width: 92em;
  }
  
/****Social Stats****/
  
  .social-stats-rec {
    flex-direction: row;
  }
  
  .icon {
    height: 2.5em;
    width: 2.5em;
  }
  
  .social-title {  
    font-size: 1.25em; 
  }

  .social-number {
    font-size: 1.5em;
    padding: 0.625em;
  } 

} /* end 1024 media query*/